<form [formGroup]="postForm">

    <div class="field">
        <label class="label">Titre</label>
        <input class="input" type="text" placeholder="Titre du post" formControlName="title">
    </div>
    
    <div class="field">
        <label class="label">Description</label>
        <input class="input" type="text" placeholder="Description du post" formControlName="description">
    </div>

    <div class="field">
        <label class="label">Lien</label>
        <input class="input" type="text" placeholder="Lien du post" formControlName="link">
    </div>

    <div class="control">   
        <button class="button is primary" type="submit" (click)="addNewPost(postForm.value)">Add post</button>
    </div>
    
</form>