<div class="card">
    <header class="card-header">
        <p class="card-header-title title is-4">{{ post.title }}</p>
    </header>
    <div class="card-content">
        <div class="content">
            <p>{{ post.description }}</p>                
        </div>
    </div>
    <footer class="card-footer">
        <a href="{{ post.link }}" class="card-footer-item">Ouvrir</a>
        <button class="button is-info card-footer-item" (click)="editPost()">Éditer</button>
        <button class="button is-danger card-footer-item" (click)="deletePost()">Supprimer</button>
    </footer>
</div>